<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        <div id="all">
            {{ partial "header.html" . }}
            <div id="wrap">
                <div>
                    <article class="article">
                        {{ partial "contents_header.html" . }}
                        <div class="contents">
                            {{ .Content }}
                        </div>
                    </article>
                    <ul class="nav_bar">
                        {{ if .PrevInSection }}
                        <li class="nav_prev"><a href="{{ .PrevInSection.RelPermalink }}">&lt; {{ .PrevInSection.Title | truncate 30 }}</a></li>
                        {{ else }}
                        <li class="nav_prev"><span>last page</span></li>
                        {{ end }}
                        {{ if .NextInSection }}
                        <li class="nav_next"><a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title | truncate 30 }} &gt;</a></li>
                        {{ else }}
                        <li class="nav_next"><span>first page</span></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ partial "r-sidebar.html" . }}
        </div>
        {{ partial "footer.html" . }}
    </div>
</body>
</html>
